<% provide(:title, "Accueil") %>

<div class="home-container">
<section class="first-section">
    <div class="img-container">
        <%= image_tag image_url('lampli.png'), alt: "icons", class: "home-first-container" %>
    </div>

    <div class="accroch-container">
    <div class="text-container">
        <h1 class="title">Un Talk Show sur la musique</h1>
        <p class="subtitle">Retrouvez chaque mois un podcast sur la musique et son environment</p>
    </div>

    <div class="cta-container">
        <%= link_to podcast_path do %>
        <button>Découvrir les émissions</button>
        <% end %>
    </div>
    </div>

</section>
</div>