<a class="cover" href="<%= link %>" target="_blank" >
    <%= image_tag image_url(cover_url), alt: 'cover', class: "cover-img" %>
    <div class="disc">
        <%= image_tag image_url(disc_url), alt: 'disc', class: "disc-img" %>
    </div>
</a>